[Unit]
Description=modbus2mqtt
After=mosquitto.service
After=acs-endpoint-provisioning.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /home/pi/aa13q/modbus2mqtt/spicierModbus2mqtt/mo2.py --rtu /dev/ttyS0 --rtu-baud 115200 --rtu-parity none --mqtt-host mqtt.internal.0x08.in --mqtt-port 8883 --mqtt-user modbus-gateway --mqtt-pass dbQbESxQ5X8Nk93WUUPMT --mqtt-use-tls --mqtt-cacerts /etc/mosquitto/ca_certificates/ca.pem --config /home/pi/aa13q/modbus2mqtt/backspace.csv --verbosity 3
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
