[Unit]
Description=Decision-making (logic runtime) part of B4CKSP4CE ACS
After=acs-modbus2mqtt.service

[Service]
Type=simple
Environment=DEBUG=acs:*
ExecStart=/usr/bin/node /home/acs/app/automation/src/automation.js
WorkingDirectory=/home/acs/app/automation
User=acs
Restart=always

[Install]
WantedBy=multi-user.target

