[Unit]
Description=Translates messages between "raw" and "device/object" layers
After=acs-modbus2mqtt.service

[Service]
Type=simple
ExecStart=/usr/bin/node /home/acs/app/translator/src/index.js
WorkingDirectory=/home/acs/app/translator
User=acs
Restart=always

[Install]
WantedBy=multi-user.target

